{% load static %}
<div class="container" style="margin-top: 170px;">
	<div class="buttons" id='events'>
		<center> <font color="black" size="40px"><strong>Lecture Track</strong> </font></center>
		<div class="col-10 mx-auto mt-5 offset-2">
		<span class="prev">
			<button id='previous' class="fill" style="width: 50px;border: none;" onclick="prev()"> <i class="fa fa-chevron-left"
					aria-hidden="true"></i></button>
		</span>
		<button id="1" class="fill active customize ml-1" onclick="toggleVisibility('Oct19');" >October 19</button>
		<button id="2" class="fill customize ml-1" onclick="toggleVisibility('Oct20');">October 20</button>
		<button id="3" class="fill customize ml-1" onclick="toggleVisibility('Oct21');">October 21</button>
		<button id="4" class="fill customize ml-1" style="display: none;" onclick="toggleVisibility('Oct22');">October 22</button>
		<button id="5" class="fill customize ml-1" style="display: none;" onclick="toggleVisibility('Oct23');">October 23</button>
		<button id="6" class="fill customize ml-1" style="display: none;" onclick="toggleVisibility('Oct24');">October 24</button>
		<button id="7" class="fill customize ml-1" style="display: none;" onclick="toggleVisibility('Oct25');">October 25</button>

		<span class="next ml-1">
			<button id='nxt' class="fill" style="width: 50px;border: none;" onclick="next()"> <i class="fa fa-chevron-right"
					aria-hidden="true"></i></button>
		</span>
	</div>
	</div>

	<div id="Oct19">
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4"	>
				<span style="font-size: 2.5em;">Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Gautam Biswas <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bolder;">10:00 AM-11:30 AM</span>
			</div>
		</div>
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Chris MacMinn.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Catch and Release of Gas Bubbles in a Soft Grannular Medium</span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Chris MacMinn <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div> -->
	</div>
	<div id="Oct20" style="display: none;">
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Yonus Cengel.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.2em;">2nd Law of Thermodynamics and its Application: LNG Regasification Terminals to Generate Power</span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Yonus Cengel <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div> -->
	</div>
	<div id="Oct21" style="display: none;">
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/P Nithiarasu.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Using AI for Inverse Decisions in Health Transfer </span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> P Nithiarasu <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Andrew Rees.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Convection of Bingham Fluid in Porous Media (Numerical Aspects)</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Andrew Rees <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div>
	</div>
	<div id="Oct22" style="display: none;">
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Ian Giriffiths.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">How can Mathematics help to keep the World clean? </span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Ian Giriffiths <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div> -->
	</div>
	<div id="Oct23" style="display: none;">
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Rama Govindrajan.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Mammatus Cloud Formation by Settling and Evaporation</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Rama Govindrajan <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Adrian Bejan.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Evolutionary Design with Freedom</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Adrian Bejan <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div>
	</div>
	<div id="Oct24" style="display: none;">
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Antonio F. Miguel.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2em;">Constructal Generation of Configuration in Nature: Fractal Tree Flow Networks and Allometric Laws</span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Antonio F.Miguel <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div> -->
	</div>
	<div id="Oct25" style="display: none;">
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 1</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
			</div>
		</div> -->
		<div class="d-flex container mt-5 col-10">
			<div>
				<img src="{% static 'images/spk/Avinoam Nir.jpg' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">On Toroidal Drops in Viscous Flow</span>
				<br>
				<span style="font-size: 1.5em;">Session 2</span>
				<br>
				<span style="font-size: 1.9em;color:#0078e1;"> Avinoam Nir <span style="font-size: 50px;">&#10230;</span></span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
			</div>
		</div>
		<!-- <div class="d-flex container mt-5 col-6">
			<div>
				<img src="{% static 'images/spk/user_2.png' %}" alt="Speaker Picture" style="height: 300px;width: 300px;">
			</div>
			<div class="ml-4">
				<span style="font-size: 2.5em;">Talk Title</span>
				<br>
				<span style="font-size: 1.5em;">Session 3</span>
				<br>
				<span style="font-size: 50px;color:#0078e1;">&#10230;</span>
				<br>
				<span style="font-size: 1.5em;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
			</div>
		</div> -->
	</div>
</div>

<div id= 'DivNotable' class="p-4 mt-5">
	<center> <font color="white" size="40px"><strong>Notable Speakers</strong> </font></center>
	<div id="notable" class="d-flex col-12 text-center">
			<span class="prev">
				<button id='previous1' class="fill" style="width: 50px;border: none;" onclick="prev1()"> <i class="fa fa-chevron-left"
						aria-hidden="true"></i></button>
			</span>
			<div id="spk1" class="speaker p-2 mx-auto">
				<img src="{% static 'images/spk/Adrian Bejan.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Adrian Benjan</h1>
				<h3>Department Of Mechanical Engineering,Duke University</h3>
			</div>
			<div id="spk2" class="speaker p-2 mx-auto">
				<img src="{% static 'images/spk/Suman Chakraborty.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Suman Chakraborty</h1>
				<h3>Department Of Mechanical Engineering,IIT Kharagpur</h3>
			</div>
			<div id="spk3" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Detlef Lohse.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Detlef Lohse</h1>
				<h3>Department of Physics of Fluids, University of Twente</h3>
			</div>
			<div id="spk4" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Antonio F. Miguel.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Antonio F. Miguel</h1>
				<h3>School of Science and Technology, University of Evora</h3>
			</div>
			<div id="spk5" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/P Nithiarasu.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>P. Nithiarasu</h1>
				<h3>College of Engineering, Swansea University</h3>
			</div>
			<div id="spk6" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Andrew Rees.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Andrew Rees</h1>
				<h3>Department of Mechanical Engineering, University of Bath</h3>
			</div>
			<div id="spk7" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Avinoam Nir.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Avinoam Nir</h1>
				<h3>Chemical Engineering Faculty, Israel Institute Technion</h3>
			</div>
			<div id="spk8" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Bernard Weigand.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Bernhard Weigand</h1>
				<h3>Institute of Aerospace Thermodynamics, University of Sttutguard</h3>
			</div>
			<div id="spk9" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Rama Govindrajan.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Rama Govindrajan</h1>
				<h3>International Center for Theoretical Sciences (ICTS), Banglore</h3>
			</div>
			<div id="spk10" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/S Sundar.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>S. Sundar</h1>
				<h3>Department of Mathematics, IIT Madras</h3>
			</div>
			<div id="spk11" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Ian Giriffiths.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Ian Giriffiths</h1>
				<h3>Oxford Center for Industrial and Applied Mathematics, University of Oxford</h3>
			</div>
			<div id="spk12" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Chris MacMinn.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Chris MacMinn</h1>
				<h3>Civil Engineering Research, University of Oxford</h3>
			</div>
			<div id="spk13" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Somnath Bhattacharya.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Somnath Bhattacharya</h1>
				<h3>Department of Mathematics, IIT Kharagpur</h3>
			</div>
			<div id="spk14" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Gautam Biswas</h1>
				<h3>Department of Mechanical Engineering, IIT Kanpur</h3>
			</div>
			<div id="spk15" class="speaker p-2 mx-auto" style="display: none;">
				<img src="{% static 'images/spk/Yonus Cengel.jpg' %}" alt="user" width="170px" height="170px"
					style="border-radius:50%;margin:40px 140px 50px 140px;">
				<h1>Yonus Cengel</h1>
				<h3>Faculty of Engineering, University of Nevada</h3>
			</div>
			<span class="next">
				<button id='nxt1' class="fill" style="width: 50px;border: none;" onclick="next1()"> <i class="fa fa-chevron-right"
					aria-hidden="true"></i></button>
			</span>
		</div>
	</div>
<script>
	let n=document.getElementById('DivNotable').style
	n.backgroundImage="url({% static 'images/backimage.jpg' %})";
	n.backgroundRepeat="no-repeat";
	n.backgroundSize="cover";
	n.backgroundPosition="center";
</script>
<script src="{% static 'master.js' %}"></script>