<footer
      id="footer"
      class="py-4 text-black-50"
      style="width: 100%;background-color: rgba(0, 0, 0, 0.4);"
    >
        <div class="d-flex col-12 p-1 ml-5" style="color: white;">
          <div class="col-4">
            <h3 style="font-weight: 400px;font-size: 2.2em;" class="text-center">SITEMAP</h3>
            <ul class="offset-4" style="list-style-type: none;text-align: left;font-size: 1.2em;">
              <li><a href="/#" style="color:white">Home</a></li>
              <li><a href="/#aboutus" style="color:white">About</a></li>
              <li><a href="/#events" style="color:white">Lecture Track</a></li>
              <li><a href="/#DivNotable" style="color:white">Notable Speakers</a></li>
            </ul>
          </div>
          <div class="col-8">
            <h3 style="font-weight: 400px;font-size: 2.2em;" class="text-center offset-3">Contact Us:</h3>
                <ul style="list-style-type: none;text-align: left;font-size: 1.2em" class="offset-6">
                  <a href="https://ma.iitr.ac.in/" style="color:white">
                    <li> Department of Mathematics,</li>
                    <li>Indian Institute of Technology Roorkee,</li>
                    <li>Roorkee – 247 667, Uttarakhand, India</li>
                  </a>  
              </ul> 
            </div>
          </div>
          <small class="offset-5" style="color: white;">Copyright <span>&#169;</span><a href="https://www.iitr.ac.in/" style="color:white"> IIT Roorkee</a></small>
        </div>
    </footer>