<!DOCTYPE html>
{% load static %}
<html lang="en">
<title>IIT Roorkee</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="{% static 'master.css' %}" />

<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
    }

    .w3-bar,
    h1,
    button {
        font-family: "Montserrat", sans-serif;
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px;
    }
</style>

<body>
    <script>
        AOS.init();
    </script>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-purple w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-purple"
                href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars w3-purple"></i></a>
            <a href="{% url 'users:home' %}" class="w3-bar-item w3-button w3-padding-large"
                style="text-decoration:none;">
                Home</a>
            <a href="/#Objectives" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="text-decoration: none;">Objectives</a>
            <a href="/#DivNotable" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="text-decoration: none;">Speakers</a>
            <a href="{% static 'Schedule.pdf' %}" download
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="text-decoration: none;">Schedule</a>

            <a href="/#focusarea" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                style="text-decoration: none;">Focused Area</a>
            {% if user.is_authenticated %}

            <a href="{% url 'users:logout' %}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
                style="text-decoration: none;">Logout</a>
            <a href="{% url 'users:update' %}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
                style="text-decoration: none;">{{user.username}}</a>
            {% else %}
            <a href="{% url 'users:login' %}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
                style="text-decoration: none;">Login</a>
            <a href="{% url 'users:register' %}"
                class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
                style="text-decoration: none;">Registration</a>
            {% endif %}
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="{% url 'users:home' %}" class="w3-bar-item w3-button w3-padding-large"
                style="text-decoration: none;">Home</a>
            <a href="/#Objectives" class="w3-bar-item w3-button w3-padding-large"
                style="text-decoration: none;">Objectives</a>
            <a href="/#DivNotable" class="w3-bar-item w3-button w3-padding-large"
                style="text-decoration:none">Speakers</a>
            <a href="{% static 'Schedule.pdf' %}" class="w3-bar-item w3-button w3-padding-large"
                style="text-decoration: none;" download>Schedule</a>
            <a href="/focusarea" class="w3-bar-item w3-button w3-padding-large" style="text-decoration: none;">Focused
                Area</a>
            {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
                style="text-decoration: none;">Logout</a>
            <a href="{% url 'users:update' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
                style="text-decoration: none;">{{user.username}}</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
                style="text-decoration: none;">Login</a>
            <a href="{% url 'users:register' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
                style="text-decoration: none;">Register</a>
            {% endif %}

        </div>
    </div>
    <div class="w3-light-gray">
       
        <!-- Step 1 -->

        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h2 style="color:#09269c;padding-top: 30px;">Instruction for payment</h2>
                <h4 style="color:#3b3b3b; font-size:20px;"> Payment can be made through Online mode or
                    Offline mode.
                    <br>
                    Details are given below : </h4><br>
                <h4><b>Online mode:</b></h4>
                <h4 style="color:#3b3b3b; font-size:20px;">
                    <u>Step 1</u> :
                    <a href="https://www.onlinesbi.com/sbicollect/icollecthome.htm" style="color: blue;">
                        <span class="w3-margin-left"> Payment Link (SBI Collect)</span>
                    </a>
                </h4>
                <img src="{% static 'images/step1.png' %}" alt="Step1" class="w3-image">
            </div>
        </div>

        <!-- Step 2 -->

        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h4 style="color:#3b3b3b; font-size:20px;" align="left">
                    <u>Step 2 </u>:
                    State of Corporate / Institution-Uttarakhand, Type of Corporate / Institution-Educational
                    Institutions
                </h4>
                <img src="{% static 'images/step2.png' %}" alt="Step2" class="w3-image">
            </div>
        </div>
        
        <!-- Step 3 -->

        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h4 style="color:#3b3b3b; font-size:20px;" align="left">
                    <u>Step 3 </u>:
                    Educational Institutions Name- DEAN SRIC CONF
                </h4>
                <img src="{% static 'images/step3.png' %}" alt="Step3" class="w3-image">
            </div>
        </div>

        <!-- Step 4 -->
        
        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h4 style="color:#3b3b3b; font-size:20px;" align="left">
                    <u>Step 4 </u>: Select Payment Category- IIT Roorkee Conference
                </h4>
                <img src="{% static 'images/step4.png' %}" alt="Step4" class="w3-image">
            </div>
        </div>

        <!-- Step 5 -->
        
        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h4 style="color:#3b3b3b; font-size:20px;" align="left">
                    <u>Step 5 </u>:
                    Conference Code: <span style="font-weight: bold;">CONFR-112-MAT</span></h4>
                <img src="{% static 'images/step5.png' %}" alt="Step5" class="w3-image">
            </div>
        </div>

        <!-- OR -->
        
        <div class="w3-row-padding w3-padding-32 w3-container w3-center">
            <div class="w3-content">
                <h4 style="color:#e30657; font-size:20px;" align="center"> "OR" </h4>
                <h4><b>Offline:</b> Demand Draft drawn in favour of <b>"Dean SRIC IIT Roorkee" payable at Roorkee.</b>
                </h4>
                <br><br>
                <h4><b>NOTE</b> - Please send the payment receipt to the email id<font color="red">
                        colloquium2020iitr@gmail.com</font> after payment success.
                </h4>
            </div>
        </div>
    </div>
    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>