.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #74cfbf;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.links {
  font-size: larger;
  font-weight: bold;
}
.login_btn {
  width: 100%;
  background: #33ccff !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}
#registerbtn {
  border-radius: 2em;
  background-color: #0078e1;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 3rem;
  text-transform: uppercase;
}
.input-group-text {
  background: #f7ba5b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

button {
  position: relative;
  height: 45px;
  width: 140px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  /* color: #383736; */
  /* border: 2px #383736 solid; */
  border-radius: 28px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  /* z-index: 1; */
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.fill:hover {
  color: whitesmoke;
  border-radius: 28px;
  text-decoration: none;
}
.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  border-radius: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  text-decoration: none;
  -webkit-transition: top 0.15s ease-in;
}

.fill:hover:before {
  top: 0;
  border-radius: 28px;
  text-decoration: none;
}

.active {
  color: whitesmoke;
  background: #0078e1;
}
.customize {
  font-size: 18px !important;
  width: 10em !important;
  border: none !important;
}
.blinking {
  animation: blinkingText 1.2s infinite;
  font-weight: bolder;
}
@keyframes blinkingText {
  0% {
    color: #fff;
  }
  49% {
    color: #fff;
  }
  60% {
    color: #74cfbf;
  }
  99% {
    color: #74cfbf;
  }
  100% {
    color: #fff;
  }
}
.spks {
  width: 120px;
  height: 120px;
  padding-top: 10px;
}
.individual{
  height: auto;
  width: auto;
}