<!DOCTYPE html>
{% load static %}
<html lang="en">
<title>IIT Roorkee</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static 'master.js' %}"></script>
<link rel="stylesheet" href="{% static 'master.css' %}" />

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }

  .w3-bar,
  h1,
  button {
    font-family: "Montserrat", sans-serif;
  }

  .fa-anchor,
  .fa-coffee {
    font-size: 200px;
  }
</style>

<body>
  <script>
    AOS.init();
  </script>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-purple w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-purple"
        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
          class="fa fa-bars w3-purple"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large"    style="text-decoration: none;">
        Home</a>
      <a href="#Objectives"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        style="text-decoration: none;">Objectives</a>
      <a href="/#DivNotable" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        style="text-decoration: none;">Speakers</a>
      <a href="{% static 'Schedule.pdf' %}" download
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        style="text-decoration: none;">Schedule</a>

      <a href="/#focusarea" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        style="text-decoration: none;">Focused Area</a>
      {% if user.is_authenticated %}

      <a href="{% url 'users:logout' %}"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
        style="text-decoration: none;">Logout</a>
      <a href="{% url 'users:update' %}"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
        style="text-decoration: none;">{{user.username}}</a>
      {% else %}
      <a href="{% url 'users:login' %}"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
        style="text-decoration: none;">Login</a>
      <a href="{% url 'users:register' %}"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right"
        style="text-decoration: none;">Registration</a>
      {% endif %}
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a   href="#Objectives"   class="w3-bar-item w3-button w3-padding-large"
        style="text-decoration: none;">Objectives</a>
      <a href="/#DivNotable" class="w3-bar-item w3-button w3-padding-large" style="text-decoration:none">Speakers</a>
      <a href="{% static 'Schedule.pdf' %}" class="w3-bar-item w3-button w3-padding-large"
        style="text-decoration: none;" download>Schedule</a>
      <a href="/focusarea" class="w3-bar-item w3-button w3-padding-large" style="text-decoration: none;">Focused
        Area</a>
      {% if user.is_authenticated %}
      <a href="{% url 'users:logout' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
        style="text-decoration: none;">Logout</a>
      <a href="{% url 'users:update' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
        style="text-decoration: none;">{{user.username}}</a>
      {% else %}
      <a href="{% url 'users:login' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
        style="text-decoration: none;">Login</a>
      <a href="{% url 'users:register' %}" class="w3-bar-item w3-button w3-padding-large w3-right"
        style="text-decoration: none;">Register</a>
      {% endif %}

    </div>
  </div>

  <!-- Header -->
  <header class="w3-container w3-center" style="
        padding: 128px 16px;
        background-image: url('/static/images/backimage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      ">
    {% if user.is_authenticated and u.isIITR == "NO" and not u.pay_num  %}
    <div class="w3-panel w3-yellow w3-margin-top" style="padding: 0px;margin-top: 0px;" data-aos="fade-down"
      data-aos-duration="2500">
      <p> <strong>After Payment Successful Please send the payment
          receipt to <font color="red"> colloquium2020iitr@gmail.com</font> and enter transaction number in your account
          details </strong>
          <a href="/update/#details" style="color: red;">Payment Details</a>
        </p>
    </div>
    {% endif %}
    <div data-aos="fade-down" data-aos-duration="2500">
      <h1 class="w3-margin w3-left-align w3-padding-32" style="font-size: 4vh;color: white;">
        International e-colloquium on
        <br />
        <span style="font-weight: bolder; font-size: 5vh">
          RECENT ADVANCEMENTS IN FLUID FLOW AND HEAT TRANSFER</span>
        <br />
        <span style="font-weight: bolder; color: #0078e1">19 Oct 2020 - 25 Oct 2020</span>
        <br>
        <button class="w3-blue w3-hover-purple" style="width: fit-content;"><a href="{% url 'users:register' %}" style="text-decoration:none;">Register Now</a></button>
           <button class="w3-blue w3-hover-purple" style="width: fit-content;"><a href="{% url 'users:payment' %}" style="text-decoration:none;">Payment Details</a></button>
              <button class="w3-blue w3-hover-purple" style="width: fit-content;"><a  href="{% static 'Brochure.pdf' %}" download style="text-decoration:none;">Event Details</a></button></h1>
    </div>
  </header>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-32 w3-container">
    <div class="w3-content">
      <center><img style="
          border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;
          height: 25vh;
          text-decoration: none;
          width: 25vh;" src="{% static 'images/iitricon.png' %}" alt="Logo" data-aos="fade-down"
          data-aos-duration="3000" /> </center>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <div data-aos="fade-up" data-aos-duration="3000">
        <h1 class="w3-center" style="font-weight: bolder;">Patron</h1>
        <h5 class="w3-padding-32">
          <center><img style="
          border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;
          height: 20vh;
          text-decoration: none;
          width: 20vh;" src="{% static 'images/director.jpg' %}" alt="Logo" /></center>
          <center> Prof. A.K. Chaturvedi, Director IITR</center>
        </h5>
      </div>
      <div data-aos="fade-up" data-aos-duration="3000">
        <h1 class="w3-center" style="font-weight: bolder;">General Chair</h1>
        <h5 class="w3-padding-32">
          <center>
            <img style="
          border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;
          height: 20vh;
          text-decoration: none;
          width: 20vh;" src="{% static 'images/sukavanam.jpg' %}" alt="Logo" /></center>
          <center> Prof. N. Sukawanam,HOD dept of Mathematics,IITR</center>
        </h5>
      </div>
      <div data-aos="fade-up" data-aos-duration="3000">
        <h1 class="w3-center" style="font-weight: bolder;">Convener</h1>
        <h5 class="w3-padding-32">
          <center>
            <img style="
          border-top-left-radius: 50% 50%;
          border-top-right-radius: 50% 50%;
          border-bottom-right-radius: 50% 50%;
          border-bottom-left-radius: 50% 50%;
          height: 20vh;
          text-decoration: none;
          width: 20vh;" src="{% static 'images/nayak.jpg' %}" alt="Logo" /></center>
          <center> Prof. A.K Nayak,dept of Mathematics,IITR</center>
        </h5>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      </div>
      <div class="w3-light-gray w3-padding-32" data-aos="fade-up" data-aos-duration="3000">
        <h1 class="w3-center" style="font-weight: bolder;">Venue</h1>
        <h5 class="">
          <center> Through online webex(Live Lectures)</center>
        </h5>
        <h5 class="">
          <center> [A certificate will be provided to all registered participants]</center>
        </h5>
        <h3 class="">
          <font color="#0E75D3"><strong>
              <center>Registration is going on upto 10th Oct 2020</center>
            </strong></font>
        </h3>
      </div>
      <div data-aos="fade-up" data-aos-duration="3000">
        <hr>
        <h1 class="w3-center" style="font-weight: bolder;">Eligibility</h1>
        <h5 class="w3-padding-32">
          Faculty/Phd/Reasearch scholar/Students of Engineering or Technical Institutes and Persons From Government
          Department/Labs and Industry.
        </h5>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      </div>
 <div id='Objectives'>
        <div class="w3-light-gray w3-padding-32 w3-center" data-aos="fade-up" data-aos-duration="3000">
          <h1 style="font-weight: bolder;">Aim and objectives</h1>
          <h5>
            The aim of this e-colloquium to bring all the renowned scientists
            and academicians in the field of fluid dynamics and heat transfer
            together on a platform so that young researcher from various science
            and engineering streams can take the benefit and get awareness about
            the recent advancements in the fields.
          </h5>
        </div>
      </div>
    </div>
  </div>


  <div id="lectures" class="w3-center">
    <div class="w3-row-padding w3-padding-32 w3-container w3-center">
      <div data-aos="fade-up" data-aos-duration="3000">
        <h2 style="font-weight: bolder;">Lectures Track</h2>
        <span class="w3-quarter">
          <button id='previous' class="fill" style="width: 50px;border: none;" onclick="prev()"> <i
              class="fa fa-chevron-left" aria-hidden="true"></i></button>
        </span>
        <div class="w3-half">
          <button id="1" class="fill active customize" onclick="toggleVisibility('Oct19');">October 19</button>
          <button id="2" class="fill customize" onclick="toggleVisibility('Oct20');">October 20</button>
          <button id="3" class="fill customize" onclick="toggleVisibility('Oct21');">October 21</button>
          <button id="4" class="fill customize" style="display: none;" onclick="toggleVisibility('Oct22');">October
            22</button>
          <button id="5" class="fill customize" style="display: none;" onclick="toggleVisibility('Oct23');">October
            23</button>
          <button id="6" class="fill customize" style="display: none;" onclick="toggleVisibility('Oct24');">October
            24</button>
          <button id="7" class="fill customize" style="display: none;" onclick="toggleVisibility('Oct25');">October
            25</button>
        </div>
        <span class="w3-quarter">
          <button id='nxt' class="fill" style="width: 50px;border: none;" onclick="next()"> <i
              class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
    <div id="Oct19">
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Gautam Biswas</span>
              <br>
              <!-- <span style="font-size: 4vh;">Title</span> -->
              <!-- <br> -->
              <!-- <span style="font-size: 2.8vh;">Session 1</span> -->
              <!-- <br> -->
              <!-- <span style="font-size: 2.8vh;color:#0078e1;"> Gautam Biswas <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <!-- <br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bolder;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Chris MacMinn.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Chris MacMinn</span>
              <br>
              <span style="font-size: 3.5vh;">Catch and Release of Gas Bubbles in a Soft Grannular Medium</span>
              <br>
              <!-- <span style="font-size: 2.8vh;">Session 2</span>
      <br>
      <span style="font-size: 2.8vh;color:#0078e1;"> Chris MacMinn <span style="font-size: 2.8vh;">&#10230;</span></span>
      <br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="750">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Detlef Lohse.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Detlef Lohse</span>
              <br>
              <!-- <span style="font-size: 4vh;">Title</span> -->
              <!-- <br> -->
              <!-- <span style="font-size: 2.8vh;">Session 1</span> -->
              <!-- <br> -->
              <!-- <span style="font-size: 2.8vh;color:#0078e1;"> Gautam Biswas <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <!-- <br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bolder;">7:00 PM -08:30 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div id="Oct20" style="display: none;">
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Suman Chakraborty.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Suman Chakraborty</span>
              <br>
              <span style="font-size: 3.5vh;">Multiphase Micro-Fluidics: A Phase Field Prospective</span>
              <br>
              <!-- <span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Yonus Cengel <span style="font-size: 2.8vh;">&#10230;</span></span>
				<br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>

      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Yonus Cengel.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Yonus Cengel</span>
              <br>
              <span style="font-size: 3.5vh;">2nd Law of Thermodynamics and its Application: LNG Regasification
                Terminals to Generate Power</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Yonus Cengel <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div id="Oct21" style="display: none;">
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/James J.Feng.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> James J.Feng</span>
              <!-- <br>
        <span style="font-size: 3.5vh;">2nd Law of Thermodynamics and its Application: LNG Regasification Terminals to Generate Power</span> -->
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Yonus Cengel <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/P Nithiarasu.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> P Nithiarasu</span>
              <br>
              <span style="font-size: 4vh;">Using AI for Inverse Decisions in Health Transfer </span>
              <br>
              <!-- <span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> P Nithiarasu <span style="font-size: 2.8vh;">&#10230;</span></span>
				<br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="900">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Andrew Rees.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Andrew Rees </span>
              <br>
              <span style="font-size: 4vh;">Convection of Bingham Fluid in Porous Media (Numerical Aspects)</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 3</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Andrew Rees <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div id="Oct22" style="display: none;">
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/S Sundar.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> S Sundar </span>
              <!-- <br>
        <span style="font-size: 4vh;">How can Mathematics help to keep the World clean? </span> -->
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Ian Giriffiths <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Ian Giriffiths.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Ian Giriffiths </span>
              <br>
              <span style="font-size: 4vh;">How can Mathematics help to keep the World clean? </span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Ian Giriffiths <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="900">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Bernard Weigand.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Bernard Weigand </span>
              <br>
              <span style="font-size: 4vh;">Direct Numerical Simulation of Drop Dynamics </span>
              <br>
              <!-- <span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Ian Giriffiths <span style="font-size: 2.8vh;">&#10230;</span></span>
				<br> -->
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div id="Oct23" style="display: none;">
      <div class="w3-row-padding w3-padding-32 w3-container">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Rama Govindrajan.jpg' %}" alt="Speaker Picture" class="individual"
              data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Rama Govindrajan </span>
              <br>
              <span style="font-size: 4vh;">Mammatus Cloud Formation by Settling and Evaporation</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 1</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Rama Govindrajan <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Adrian Bejan.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Adrian Bejan </span>
              <br>
              <span style="font-size: 4vh;">Evolutionary Design with Freedom</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 3</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Adrian Bejan <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">7:00 PM-8:30 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div id="Oct24" style="display: none;">
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/S V Raghuram Rao.jpeg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Raghuram Rao </span>
              <!-- <br>
        <span style="font-size: 4vh;">Constructal Generation of Configuration in Nature: Fractal Tree Flow Networks and Allometric Laws</span> -->
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Antonio F.Miguel <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Antonio F. Miguel.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Antonio F.Miguel </span>
              <br>
              <span style="font-size: 4vh;">Constructal Generation of Configuration in Nature: Fractal Tree Flow
                Networks and Allometric Laws</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Antonio F.Miguel <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div id="Oct25" style="display: none;">

      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="300">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Somnath Bhattacharya.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Somnath Bhattacharya </span>
              <!-- <br>
        <span style="font-size: 4vh;">On Toroidal Drops in Viscous Flow</span> -->
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Avinoam Nir <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">10:00 AM-11:30 AM</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
        data-aos-delay="600">
        <div class="w3-content">
          <div class="w3-third w3-center">
            <img src="{% static 'images/spk/Avinoam Nir.jpg' %}" alt="Speaker Picture" class="individual">
          </div>

          <div class="w3-twothird">
            <h5 class="w3-margin-left" style="margin-top: 0px;">
              <span style="font-size: 2.8vh;color:#0078e1;"> Avinoam Nir </span>
              <br>
              <span style="font-size: 4vh;">On Toroidal Drops in Viscous Flow</span>
              <!-- <br>
				<span style="font-size: 2.8vh;">Session 2</span>
				<br>
				<span style="font-size: 2.8vh;color:#0078e1;"> Avinoam Nir <span style="font-size: 2.8vh;">&#10230;</span></span> -->
              <br>
              <span style="font-size: 2.8vh;color:#0078e1;font-weight: bold;">3:00 PM-4:00 PM</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="focusarea">
    <div class="w3-row-padding w3-padding-32 w3-container" data-aos="fade-up" data-aos-duration="3000"
      data-aos-delay="300">
      <div class="w3-content">
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div class="w3-light-gray w3-padding-32 w3-center">
          <h1 style="font-weight: bolder;">Focused Areas</h1>
          <h5>
            <ul
              style="list-style-type: none; font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;font-size:2.9vh;">
              <li>Constructal Theory</li>
              <li>Bubbles And Droplets</li>
              <li>Health And Environment</li>
              <li>Micro And Nano Fluids</li>
            </ul>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div id="DivNotable" class="w3-row-padding w3-padding-64 w3-container w3-center w3-light-grey" style="
  padding: 128px 16px;
  background-image: url('static/images/backimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;">
    <h1 style="font-weight: bolder;color: white;" data-aos="fade-up" data-aos-duration="2000">Notable Speakers</h1>
    <div class="w3-quarter w3-margin-top" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300">
      <span class="prev">
        <button id='previous1' class="fill w3-white w3-hover-light-grey" style="width: 50px;border: none;"
          onclick="prev1()"> <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
      </span>
    </div>
    <div id="spk1" class="w3-quarter w3-margin-top" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="300">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Adrian Bejan.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Adrian Benjan</h3>
          <h5>Department Of Mechanical Engineering,Duke University</h5>
        </div>
      </div>
    </div>
    <div id="spk2" class="w3-quarter w3-margin-top" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="300">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Suman Chakraborty.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Suman Chakraborty</h3>
          <h5>Department Of Mechanical Engineering,IIT Kharagpur</h5>
        </div>
      </div>
    </div>

    <div id="spk3" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Detlef Lohse.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Detlef Lohse</h3>
          <h5>Department of Physics of Fluids, University of Twente</h5>
        </div>
      </div>
    </div>
    <div id="spk4" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Antonio F. Miguel.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Antonio F. Miguel</h3>
          <h5>School of Science and Technology, University of Evora</h5>
        </div>
      </div>
    </div>
    <div id="spk5" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/P Nithiarasu.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">P. Nithiarasu</h3>
          <h5>College of Engineering, Swansea University</h5>
        </div>
      </div>
    </div>
    <div id="spk6" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Andrew Rees.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Andrew Rees</h3>
          <h5>Department of Mechanical Engineering, University of Bath</h5>
        </div>
      </div>
    </div>
    <div id="spk7" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Avinoam Nir.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Avinoam Nir</h3>
          <h5>Chemical Engineering Faculty, Israel Institute Technion</h5>
        </div>
      </div>
    </div>
    <div id="spk8" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Bernard Weigand.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Bernhard Weigand</h3>
          <h5>Institute of Aerospace Thermodynamics, University of Sttutguard</h5>
        </div>
      </div>
    </div>
    <div id="spk9" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Rama Govindrajan.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Rama Govindrajan</h3>
          <h5>International Center for Theoretical Sciences (ICTS), Banglore</h5>
        </div>
      </div>
    </div>
    <div id="spk10" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/S Sundar.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">S. Sundar</h3>
          <h5>Department of Mathematics,<br> IIT Madras</h5>
        </div>
      </div>
    </div>
    <div id="spk11" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Ian Giriffiths.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Ian Giriffiths</h3>
          <h5>Oxford Center for Industrial and Applied Mathematics, University of Oxford</h5>
        </div>
      </div>
    </div>
    <div id="spk12" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Chris MacMinn.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Chris MacMinn</h3>
          <h5>Civil Engineering Research, University of Oxford</h5>
        </div>
      </div>
    </div>
    <div id="spk13" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/Somnath Bhattacharya.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Somnath Bhattacharya</h3>
          <h5>Department of Mathematics, IIT Kharagpur</h5>
        </div>
      </div>
    </div>
    <div id="spk14" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Gautam Biswas</h3>
          <h5>Department of Mechanical Engineering, IIT Kanpur</h5>
        </div>
      </div>
    </div>
    <div id="spk15" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Yonus Cengel</h3>
          <h5>Faculty of Engineering, University of Nevada</h5>
        </div>
      </div>
    </div>
    <div id="spk16" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/S V Raghuram Rao.jpeg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">Raghuram Rao</h3>
          <h5>Department of Aerospace Engineering, IISc Bangalore</h5>
        </div>
      </div>
    </div>
    <div id="spk17" class="w3-quarter w3-margin-top" style="display: none;">
      <div class="w3-card-4 w3-white" style="opacity: 0.9;">
        <img class="w3-circle spks" src="{% static 'images/spk/gautam Biswas.jpg' %}" alt="user">
        <div class="w3-container w3-center">
          <h3 style="font-weight: bold;">James J Feng</h3>
          <h5>Department of Mathematics, Chemical & Biological Engineering, University of British Columbia</h5>
        </div>
      </div>
    </div>
    <div class="w3-quarter w3-margin-top" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="100">
      <span class="next">
        <button id='nxt1' class="fill w3-white w3-hover-light-grey" style="width: 50px;border: none;" onclick="next1()">
          <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </span>
    </div>
  </div>
  <!-- Footer -->
  <footer class="w3-container w3-center w3-purple w3-margin-top">
    <div class="w3-xlarge w3-padding-16">
      <div class="w3-row-padding">
        <div class="w3-half">
          <span class="w3-center" style="font-weight: 400px;font-size: 4vh;">Registration Details:</span>
          <ul style="list-style-type: none;text-align: center;font-size: 3vh;">

            <font color="white"><strong><em> Registration Fee/- </em> </strong> </font>
            </center>
            <li>
              <font color="white"><em> Indian Researcher / Academician / Student - Rs. 1,000/-</em></font>
            </li>
            <li>
              <font color="white"><em>Overseas Researcher / Academician / Student - US $ 50</em></font>
            </li>

            {% if user.is_authenticated and u.isIITR == "NO" and not u.pay_num  %}
            <li><a href="/update/#details" style="color: white;">Payment Details</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="w3-half">
          <span class=" w3-center" style="font-weight: 400px;font-size: 4vh;">Contact Us:</span>
          <ul style="list-style-type: none;font-size: 3vh;" class="w3-center">
            <a href="https://ma.iitr.ac.in/" style="color:white;text-decoration:none;">
              <li> Department of Mathematics,</li>
              <li>Indian Institute of Technology Roorkee,</li>
              <li>Roorkee – 247 667, Uttarakhand, India</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <p>
      Powered by
      <a href="https://iitr.ac.in"> IIT Roorkee</a>
    </p>
  </footer>
  <!-- modal-->
  <!-- 
  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>

          <p class="p1">

            <font color="black">
              <h3 style="font-weight: bold;">IIT Roorkee:</h3> Institute of Technology Roorkee is among the foremost of
              institutes of national importance
              in higher technological education and in engineering, basic and applied research. Since its establishment,
              the Institute has played a vital role in providing the technical manpower and know-how to the country and
              in
              pursuit of research.The Institute ranks amongst the best technological institutions in the world and has
              contributed to all sectors of technological development.It has also been considered a trend-setter in the
              area of education and research in the field of science, technology, and engineering. The Institute had
              celebrated its Sesquicentennial in October 1996 and now completed more than 170 years of its existence.
              The Institute offers Bachelor's Degree courses in 10 disciplines of
              Engineering and Architecture and Postgraduate's Degree in 55 disciplines of Engineering, Applied Science,
              Architecture and planning. The Institute has facility for doctoral work in all Departments and Research
              Centers.
            </font>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="id02" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id02').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
        <p class="p1">
          <font color="black">
            <h3 style="font-weight: bold;">Department of Mathematics:</h3>The Department of Mathematics attained its
            present status of an independent department
            in 1960. Growing steadily, today the department runs its own Undergraduate and Postgraduate program in
            Mathematics. Beside this, we also teach various topics in Mathematics to Undergraduate and Postgraduate
            students of different Engineering and Science Departments.The Department also offers facilities for research
            work leading to Ph.D. degree in different branches of Pure
            and Applied Mathematics. Department had collaborated with different National and International
            organizations and has expertise in various diversified fields of Mathematics. Our Department also offers
            consultancies in Mathematical modeling and solution of various industrial and real-life problems.
          </font>
        </p>
      </div>
    </div>
  </div> -->
  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
</body>

</html>